body,
menu,
p,
figure {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button,
h1 {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 42px;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    height: 72px;
    display: flex;
    flex-direction: row;
    padding: 0 50px;
}

.header div {
    width: 50%;
}

.delimiter {
    width: calc(100% - 100px);
}

.name {
    margin: 22px 0px;
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu button {
    width: 89px;
    font-size: 18px;
    line-height: 28px;
    height: 28px;
    font-weight: 600;
    cursor: pointer;
    text-align: right;
}

.menu button:hover {
    color: #595959;
}

.tabs {
    display: flex;
    justify-content: flex-end;
    margin: 22px 0px;
}

.name p {
    font-size: 28px;
    font-weight: 600;
    font-family: arial;
}

.content {
    background: white;
    margin: 15px 50px;
    display: inline-flex;
    justify-content: center;
    width: calc(100% - 100px);
}

.photo {
    float: left;
}

.photo img {
    width: 120px;
    height: 120px;
}

.descrption {
    min-width: 668px;
    max-width: 1000px;
    width: 75%;
}

.status_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.status {
    font-size: 18px;
    flex-grow: 1;
    min-width: 640px;
}

.base {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    ;
    line-height: 14px;
    height: 28px;
}

.base div {
    margin-left: 8px;
}

.footer {
    padding: 0px 50px;
    font-weight: 500;
    text-align: center;
    margin-top:20px;
}

.footer p {
    background: #f5f5f5;
    font-size: 14px;
    padding: 9px;
    word-wrap:break-word;
    white-space: wrap;
}

.icon-location {
    width: 14px;
    height: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0;
    border: none;
    margin: 20px auto;
}

tr {
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

td:nth-child(1) {
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background-color: #69c0ff;
    border-right: 1px solid #007bff;
}

table a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    background-color: #007bff;
    color: #fff;
}

.about_box,
.education_box,
.photo_box,
.mobile_photo_box {
    margin-top: 15px;
}

.about_box p {
    font-size: 14px;
}

.about_box b {
    font-size: 16px;
}

.school img {
    width: 48px;
    height: 48px;
}

.education {
    display: flex;
    margin-top: 15px;
}

.school {
    /* width: 70px; */
}

.school_info div {
    font-size: 14px;
    line-height: 20px;
}

.school_info b {
    font-size: 16px;
}

.school_info {
    margin-left: 12px;
}

.school_info .date {
    color: rgba(0, 0, 0, 0.6);
}

.photo_box .desc {
    font-size: 14px;
    text-align: center;
    width: 276px;
}


.photo_box {
    position: relative;
    overflow: hidden;
}

.photo_box_inner {
    display: flex;
    margin-left: 0px;
    transition: all ease-out 0.75s;
}

.gallery {
    margin-right: 20px;
}

.photo_box .btn {
    position: absolute;
    top: 50%;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    transform: translate(0, -50%);
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: all 0.2s;
    cursor: pointer;
}

.leftBtn {
    left: 5px;
}

.rightBtn {
    right: 5px;
}


.photo_box .btn:hover {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #888;
}

video {
    height: auto;
    width: 100%;
    max-width: 800px;
}

.mobile_tab_btn {
    display: none;
}

.noshow {
    display: none;
}

.mask_btns {
    margin: 80px 0px 0px 30px;
}

.mask_btns button {
    display: block;
    height: 54px;
    font-size: 32px;
    margin-top: 10px;
}

.mask_btns .selected {
    color: #1890ff;
}

.close {
    margin: 22px 50px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transition: opacity .3s;
}

.container {
    height: 100%;
}

#box {
    width: 100%;
    white-space: nowrap;
    display: none;
}

#box .wrapper {
    width: auto;
    font-size: 105px;
    color: #fff;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

#box .wrapper .gallery {
    width: 276px;
    /* Adjust the width as needed for your design */
    height: 195px;
    scroll-snap-align: start;
    position: relative;
    /* Allows positioning the caption */
}

.mobile_gallery {
    margin-right: 12px;
}

.mobile_photo_box a:hover {
    background-color: transparent;
}

.mobile_gallery .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.mobile_contact {
    display: none;
}

.mobile_contact div:nth-child(n+2) {
    margin-top: 10px;
}

.mobile_contact_info {
    background: #bae7ff;
    line-height: 24px;
    margin-top: 5px;
    word-wrap: break-word;
}


.work_desc {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 1058px) {

    .descrption {
        width: calc(100% - 220px);
    }

    .base {
        margin-top: 12px;
        width: 100%;
    }

    .status_box {
        flex-direction: row;
    }

    .status {
        min-width: auto;
    }

    .content {
        flex-wrap: wrap;
        display: flex;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .photo_box {
        display: none;
    }

    #box {
        display: block;
    }
    .photo {
        float: none;
        height: 100%;
        display: flex;
    }
}

@media screen and (max-width: 887px) {
    .tabs {
        display: none;
    }

    .mobile_tab_btn {
        display: block;
        justify-content: flex-start;
        margin: 22px 0px;
        text-align: right;
    }

    .photo {
        float: none;
        height: 100%;
        display: flex;
    }

    .status {
        width: 100%;
    }

    .content {
        display: block;
    }

    .descrption {
        min-width: auto;
        width: 100%;
    }

    .photo_box {
        display: none;
    }

    #box {
        display: block;
    }

    table {
        display: none;
    }

    .mobile_contact {
        display: block;
        margin-top: 12px;
    }
}


.exp_content {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    max-height: 80px;
    overflow: hidden;
    position: relative;
}

.exp_show_content {
    max-height: fit-content;
    overflow: hidden;
    position: relative;
}

.virtual {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    max-height: 100px;
    overflow: hidden;
    visibility: hidden;
}

.virtual span {
    visibility: visible;
}

.more {
    position: absolute;
    top: 80px;
    right: 0;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.light_btn {
    color: rgba(0, 0, 0, 0.6);
}

.light_btn:hover {
    color: #0a66c2;
}

.first_row {
    display: flex;
    align-items: baseline;
}

.animated-element {
    /* Your SVG styles here */
    transition: transform 0.3s ease;
}

.pulsating {
    animation: pulse .5s alternate infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

.custom-button {
    display: block;
    width: 60px;
    height: 30px;
    background: #bfbfbf;
    color: black;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.custom-button:hover {
    background-color: #1890ff;
    color: white;
}

#form {
    margin-top: 15px;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    line-height: 22px;
}

.rating div {
    margin-right: 10px;
}
